@model UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <form asp-action="/userLogin/LoginData" method="post">
        <table>
            <tr>
                <td>@Html.LabelFor(v => v.UserName)</td>
                <td>@Html.TextBoxFor(v => v.UserName)</td>
                <td><span style="color:red">@Html.ValidationMessageFor(v => v.UserName)</span></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(v => v.Pwd)</td>
                <td>@Html.TextBoxFor(v => v.Pwd)</td>
                <td><span style="color:red">@Html.ValidationMessageFor(v => v.Pwd)</span></td>
            </tr>
        </table>
        <input type="submit" value="登录" />
    </form>
</body>
</html>
